
<div class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-head">
                        <div class="header">{{this.ForecastData.name}}</div>
                        <div class="tools"></div>
                    </div>
                    <div class="card-body">
                        <div class="card-head">
                            <div class="col-md-4"><h1>Temprature</h1></div>
                            <div class="col-md-4"><h1>Humidity</h1></div>
                            <div class="col-md-4"><h1>Feels Like</h1></div>
                        
                        </div>
                        <div class="col-md-12"  >
                            
                            <div class="col-md-4">
                                {{ForecastData.main.temp_min}} (min)
                                <br/>
                                {{ForecastData.main.temp_max}} (max)
                            </div>
                           
                            <div class="col-md-4">
                                {{ForecastData.main.humidity}} (min)        
                            </div>
                            
                            <div class="col-md-4">
                                {{ForecastData.main.feels_like}}        
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




