/* You can add global styles to this file, and also import other style files */
/*-------Side Menu End-------*/
.section {
    position: relative;
    padding: 0px;
}

    .section:first-child {
        padding-top: 0;
    }

.section-body:first-child {
    /* margin-top: 24px; */
}

.card {
    position: relative;
    margin-bottom: 24px;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
   margin-left: 15px;
   margin-right: 15px;
   margin-top: 10px;
}


    .card:before, .card:after {
        content: " ";
        display: table;
    }

    .card:after {
        clear: both;
    }

.card-head {
    position: relative;
    line-height: 41px;
    min-height: 41px;
    vertical-align: middle;
    border-radius: 2px 2px 0 0;
    border-bottom: 2px solid #ebeef0;
}

    .card-head:before, .card-head:after {
        content: " ";
        display: table;
    }

    .card-head:after {
        clear: both;
    }

    .card-head .header {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        padding: 10px 15px;
        text-transform: uppercase;
        vertical-align: middle;
        color: #030627;
    }

        .card-head .header > h1, .card-head .header > h2, .card-head .header > h3, .card-head .header > h4, .card-head .header > h5, .card-head .header > h6 {
            vertical-align: middle;
            margin: 0;
            line-height: 1;
        }

    .card-head header small {
        color: inherit;
        opacity: 0.6;
        font-size: 75%;
    }

    .card-head > div {
        display: inline-block;
    }

    .card-head .tools {
        padding-right: 16px;
        float: right;
    }

        .card-head .tools .btn-group {
            padding-top: 5px;
        }

        .card-head .tools .date {
            color: #eb6666;
            font-weight: 600;
        }

.card-bodyBox {
    position: relative;
    vertical-align: middle;
    padding: 15px;
    border-bottom: 2px solid #ebeef0;
    margin-bottom: 15px;
}

.card-body {
    padding: 15px;
    position: relative;
}

    .card-body:before, .card-body:after, .card-bodyBox:before, .card-bodyBox:after {
        content: " ";
        display: table;
    }

    .card-body:after, .card-bodyBox:after {
        clear: both;
    }

    .card-body:last-child {
        border-radius: 0 0 2px 2px;
    }

    .card-body.table-responsive {
        margin: 0;
    }

        .card-body .text {
            float: left;
            padding-top: 10px;
        }

        .card-body:first-child {
            padding-top: 0;
        }

.section-body:first-child {
    margin-top: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}
.card-head h1 {
    font-size: 17px;
    font-weight: bold;
}